h1 {
  font-size: 2.5rem;
  padding: .5rem;
}

h2{
  font-size: 2rem;
  padding: .25rem;
}

nav{
  display: block;
}

nav ul {
  list-style: none;
}

.power_table{
  margin: 3rem;
}

.inline_block{
  display: inline-block;
}

.table_block {
  padding: .4rem;
  text-align: left;
  border: 1px black solid;
}
tr:nth-child(odd){
  background-color: #E1E6FA;
}
tr:nth-child(even){
  background-color: #C4D7ED;
}