<h1> Welcome to the Power Index </h1>

<h2>Indexing the Power of Sovereign States </h2>

<h2>Mission</h2>
  <p>It is still incomplete with much room for improvement and refinement. Contribute on the <a href="https://github.com/ggw215/IR_Simulator" target="_blank">Github</a> </p>