<div class="page-content">
  <div class="content-full-width">
    <h1 class="page-title">Methods Behind Economic Power</h1>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Power of Money</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Money in Great Power Politics plays a special role. It is immensely important but very limited in scope. The economic power of a state is part of what is used to determine the amount of resources a state has at any given time to affect change. Like buying defense equipment or investing in more economic growth, or buying down its debt etc. So these calculations are all about potential power and will not be counted directly when determining the security a country feels. </h3>
    <h3 class="explanation-text"> Economic Power is weighted heavily but not as heavily as Military Power. This is because soldiers are harder power than dollars. Dollars buy soldiers which impose the will of a state. Still, Economics has more power than Population because money more directly translates to military power. So a state's economy is taken into account for it's power calculations because Economics is a compenent of Potential Power, and Potential Power has sway in affecting change, just not on a battlefield. </h3>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Counting the Power</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> The basis of this calculation is the state's GDP. This calculation uses the Purchasing Power Parity version because that is a better understanding of a state's wealth. Purchasing Power is not beholden to daily currency speculation and politics of money between nations. So if one is to use the US dollar as the base of this calculation it is better to use the Purchasing Power to get an idea of a State's citizens' ability to consume and generate wealth.</h3>
    <h3 class="explanation-text"> So the GDP is the basis for the raw economic score, then 1/3 of the next 5 year's growth is added on top of the current GDP. This goes along with power perception as very important to power calculation. If a state is perceived to be skyrocketing economically, they will have more ability to affect change because the world's perception of a state influences how much power they attribute to that state. </h3>
    <h3 class="explanation-text"> The top raw economic score gives that state a economic score of 750. All other states take their raw score and divide it by that top raw score and multiply it by 750. </h3>
  </div>
  
  <div class="content-full-width">
    <h2 class="text-title"> Data Collection</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Most of the data collected was in the public domain. Troop and military equipment counts were pulled from wikipedia. Economic, population and resource data was pulled from the CIA World Factbook. The data around soft power was mixed. Multinational Corporation data was found through Fortune Magazine and the Internet Usage data from the World Bank. The only data not in the public domain was the Good Country Index, used to measure a part of the the world's general outlook on a state and other nuances of Soft Power. This was under the Creative Commons License, a copy of which you can find: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">here</a> </h3>
  </div>
</div>
