<div ng-controller="powerDisplay">
  <h2 class="page-title"> Relative Power Scores </h2>
  
  <table class="power_table">
  <tr>
    <th class="table_block"> Name
      <i class="fa fa-sort sort-button" ng-click="sort('name')"></i>
    </th>
    <th class="table_block"> <a href="/methods/total_power" class="power-category-link"> Total Power </a>
      <i class="fa fa-sort sort-button" ng-click="sort('total_power_score')"></i>
    </th>
    <th class="table_block"> <a href="/methods/military_power" class="power-category-link"> Military Power </a>
      <i class="fa fa-sort sort-button" ng-click="sort('military_score')"></i>
    </th>
    <th class="table_block"> <a href="/methods/economic_power" class="power-category-link"> Economic Power </a>
      <i class="fa fa-sort sort-button" ng-click="sort('economic_score')"></i>
    </th>
    <th class="table_block"> <a href="/methods/soft_power" class="power-category-link"> Soft Power </a>
      <i class="fa fa-sort sort-button" ng-click="sort('soft_power_score')"></i>
    </th>
    <th class="table_block"> <a href="/methods/population_power" class="power-category-link">Population Power </a>
      <i class="fa fa-sort sort-button" ng-click="sort('population_score')"></i>
    </th>
  </tr>


  <tr ng-repeat="state in states | orderBy:orderProp:direction">
    <td class="table_block" >{{state["name"]}}</td>
    <td class="table_block" >{{state["total_power_score"]}}</td>
    <td class="table_block" >{{state["military_score"]}}</td>
    <td class="table_block" >{{state["economic_score"]}}</td>
    <td class="table_block" >{{state["soft_power_score"]}}</td>
    <td class="table_block" >{{state["population_score"]}}</td>
  </tr>

  </table>

</div>