<div class="page-content">
  <div class="content-full-width">
    <h1 class="page-title">Methodologies</h1>
  </div>
  <div class="text-full-width methodologies">
    <h3 class="explanation-text">Power comes in many forms and has many different contexts. Below is a list of links that lead to more in depth explanations to the calculation and context of each type of power in this Power Index. </h3>
    <h3 class="explanation-text"> In the interest of full disclosure, a lot of what I have done has been based on opinion formed by taking classes in International Relations and are up for debate. I am not claiming these explanations as absolute truth, but more of a debate in progress. Feel free to join in. Here's my <a href="mailto:gregorywhite93@gmail.com?Subject=Power Index Inquiry" target="_top"> email</a> .
    </h3>
    <ul class="methodology-list">
      <a href="/methods/total_power">
        <li class="explanation-text" class="methodology-link">Total Power</li>
      </a>
      <a href="/methods/military_power">
        <li class="explanation-text" class="methodology-link">Military Power</li>
      </a>
      <a href="/methods/economic_power">
        <li class="explanation-text" class="methodology-link">Economic Power</li>
      </a>
      <a href="/methods/soft_power">
        <li class="explanation-text" class="methodology-link">Soft Power</li>
      </a>
      <a href="/methods/population_power">
        <li class="explanation-text" class="methodology-link">Population Power</li>
      </a>
    </ul>
  </div>
  
  <div class="content-full-width">
    <h2 class="text-title"> Data Collection</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Most of the data collected was in the public domain. Troop and military equipment counts were pulled from wikipedia. Economic, population and resource data was pulled from the CIA World Factbook. The data around soft power was mixed. Multinational Corporation data was found through Fortune Magazine and the Internet Usage data from the World Bank. The only data not in the public domain was the Good Country Index, used to measure a part of the the world's general outlook on a state and other nuances of Soft Power. This was under the Creative Commons License, a copy of which you can find: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">here</a> </h3>
  </div>
</div>
