<div class="page-content">
  <div class="content-full-width">
    <h1 class="page-title">Methods Behind Military Power</h1>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Overview</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Scoring in the Military category is based on the amount of soldiers that a state possesses. Then each piece of military equipment has an equivalent soldier count multiplier that is then used to find how many "equivalent soldiers" the navy, army and airforce have combined.</h3>
    <h3 class="explanation-text"> The top raw military score gives that state a military score of 1000. All other states take their raw score and divide it by that top raw score and multiply it by 1000. </h3>
  </div>

  <div class="content-full-width">
    <h2 class="text-title"> Offense v. Defense</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> It is immensely different to launch a land invasion than an amphibious on, so the offensive power of the United Kingdom is severely limited by its ability to transport soldiers (projecting power). On the other hand the UK has an incredible advantage in defense because no invader can invade without first crossing a body of water. Offensive and defensive capability measuring algorithms are in progress but will have different implications for over land and over water borders. </h3>
    <h3 class="explanation-text"> In times of warfare the power matchup between warring states will not take into account economic, population or soft power since these factors what is converted into hard military power. War will be determined by troops and power projection alone. Other power factors are taken into account to determine the resources a state has at its disposal to affect change (build military, invest in economy to increase resources for future use, join alliance etc)</h3>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Offense </h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Troop counts are weighted a certain way during a static military power calculation. So that active and reserve troops are more soldiers than paramilitary troops. During offense the paramilitary will be heavily unfavored because offense is much tougher than defense and troops that aren't trained for it will not be nearly as effective. Even more so if the battle will happen over a body of water.
    </h3>
    <h3 class="explanation-text">
    Water borders will be limited by the Navy's ability to project Army and Airforce power. The Army has to overwhelm the enemy's Army and occupy land. You cannot win on air power alone. The Airforce will be instrumental in wearing down an enemy's defense to give way for men to set foot on land successfully. The offensive Naval power will do the same as the Airforce but the Navy's offensive against land is limited to coastline defenses. </h3>
    <h3 class="explanation-text">Land borders aren't limited in how many soldiers can advance at once like a water border would be limited. The Navy has less to do with this offensive capability. The Airforce is different in this context than any other because it is both defensive and offensive. 
    </h3>
  </div>

  <div class="content-full-width">
    <h2 class="text-title"> Defense </h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Defensive calculations will heavily rely upon land born troops. So all troops (active, reserve and paramilitary) will be counted and active military will be weighted a bit higher since they were trained on this soil and understand it better than their kin and far more than their enemy. The Navy and Airforce during a defensive war will be more about meeting and destroying the enemy's Navy and Airforce. 
    </h3>
  </div>

  <div class="content-full-width">
    <h2 class="text-title"> Data Collection</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Most of the data collected was in the public domain. Troop and military equipment counts were pulled from wikipedia. Economic, population and resource data was pulled from the CIA World Factbook. The data around soft power was mixed. Multinational Corporation data was found through Fortune Magazine and the Internet Usage data from the World Bank. The only data not in the public domain was the Good Country Index, used to measure a part of the the world's general outlook on a state and other nuances of Soft Power. This was under the Creative Commons License, a copy of which you can find: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">here</a> </h3>
  </div>
</div>

