<div class="page-content">
  <div class="content-full-width">
    <h1 class="page-title">Methods Behind Population Power</h1>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Power of People</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text">People Power is calculated by the current population. Take that number and add 1/3 of the Projected growth for 5 years. Together that is the raw population score. Then the top raw score gets a score of 400. All other state's scores are their raw score divided by that top raw score multiplied by that top score. </h3>
    <h3 class="explanation-text"> Population Power is weighted severely less heavily than Military and Economic Power. This is because alone a population is not powerful, it needs money and weapons to impose power. But the potential for power has a ceiling based on the population. So a state's population is taken into account for it's power calculations because population is a compenent of Potential Power, and Potential Power has sway in diplomacy, just not on a battlefield.  </h3>
  </div>
  
  <div class="content-full-width">
    <h2 class="text-title"> Data Collection</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Most of the data collected was in the public domain. Troop and military equipment counts were pulled from wikipedia. Economic, population and resource data was pulled from the CIA World Factbook. The data around soft power was mixed. Multinational Corporation data was found through Fortune Magazine and the Internet Usage data from the World Bank. The only data not in the public domain was the Good Country Index, used to measure a part of the the world's general outlook on a state and other nuances of Soft Power. This was under the Creative Commons License, a copy of which you can find: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">here</a> </h3>
  </div>
</div>
