<div class="page-content">
  <div class="content-full-width">
    <h1 class="page-title">Methods Behind Soft Power</h1>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Power of Perception</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text">This is the most complicated and fleeting type of power and therefore needs the most tuning. It has many nuances and they are difficult to measure. For now it is the amount of money from the top Multinational Corporations reside in a state, this becomes raw mnc points. Also the amount of sway a state has on the Internet as per the amount of a state's population that has access to the Internet becomes a raw score. The last compenent of Soft Power as of now is a state's "Goodness." The <a href="http://www.goodcountry.org/">Good Country Index </a> ranks a country by how much good a country does abroad. This ranking because a raw score. Each of these raw scores is then scaled to a top score of 50. Each of these scores is added togther and because the total Soft Power score of a state.</h3>
    <h3 class="explanation-text"> Soft Power is weighted severely less heavily than Military, Population and Economic Power. This is because soft power is about how much respect and admiration a state has garnered internationally. So a state's Soft Power is taken into account for it's power calculations because population is a compenent of Potential Power, and Potential Power has sway in diplomacy, just not on a battlefield. </h3>
  </div>
  
  <div class="content-full-width">
    <h2 class="text-title"> Data Collection</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Most of the data collected was in the public domain. Troop and military equipment counts were pulled from wikipedia. Economic, population and resource data was pulled from the CIA World Factbook. The data around soft power was mixed. Multinational Corporation data was found through Fortune Magazine and the Internet Usage data from the World Bank. The only data not in the public domain was the Good Country Index, used to measure a part of the the world's general outlook on a state and other nuances of Soft Power. This was under the Creative Commons License, a copy of which you can find: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">here</a> </h3>
  </div>
</div>
