<div class="page-content">
  <div class="content-full-width">
    <h1 class="page-title">Methods Behind Total Power</h1>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Relative Power</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> When measuring power, it is of little use to measure absolute power because decisions made by rational states have to do with their security which is a product of their own power in comparison to other states in the world. Therefore the calculations done in this project have all been on a curve. The state with the top raw score of a category gets the top score available for that category and the other states get their respective percentage of that top score.</h3>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Security from Power</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Power begets security but not all power is relavant in all situations. Imagine you are in control of the Russian military. When you think about threats of invasion, India isn't an immediate threat. Why? Because India isn't on the Russian border, India's allies aren't on the Russian border and India cannot project its power that far. </h3>
    <h3 class="explanation-text"> Breaking that down security is about how threatened a country FEELS. Just because Russia and Ukraine have the ability to wage war doesn't mean that they will but Ukraine still FEELS insecure next to Russia, therefore Ukraine would naturally take actions to join an alliance more powerful than Russia and also build up its own ability to defend. </h3>
    <h3 class="explanation-text"> Power Projection is immensely important in the current great power climate since the two most powerful country's do not share a border, they're across an ocean from each other. Yet China feels insecure. That's to do with the USA's ability to project power around the world. Power projection can be measured by the size of a state's Navy and Airforce, but also the location of allies. China has the United State's allies Japan and Taiwan to content with and with the US's navy it is almost as if the US has a land border with China.</h3>
    <h3 class="explanation-text"> This demonstrates why power projection is a large part of security. It also begs the question about defensive capabilities and offensive capabilities. Which are outlined more in depth in the <a href="/methods/military_power"> Military Power </a> section. </h3>
  </div>
  <div class="content-full-width">
    <h2 class="text-title"> Data Collection</h2>
  </div>
  <div class="text-full-width">
    <h3 class="explanation-text"> Most of the data collected was in the public domain. Troop and military equipment counts were pulled from wikipedia. Economic, population and resource data was pulled from the CIA World Factbook. The data around soft power was mixed. Multinational Corporation data was found through Fortune Magazine and the Internet Usage data from the World Bank. The only data not in the public domain was the Good Country Index, used to measure a part of the the world's general outlook on a state and other nuances of Soft Power. This was under the Creative Commons License, a copy of which you can find: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">here</a> </h3>
  </div>
</div>
