<div class="welcome-content">
  <div class="welcome-full-width"><h1 class= "page-title"> Welcome! </h1> </div>

  <div class="welcome-split">
    <div class="welcome-left-half"> 
      <h2 class="welcome-title"> Purpose </h2>
      <div class="welcome-split-content">
        <h3 class="welcome-text"> This project is an attempt to index the power of sovereign states by breaking down the components of power and finding quantitative and reliable data that can become the measure of each category of power.</h3>
        <h3 class="welcome-text"> This project is far from complete and if you would like to weigh in please send me a message. Here's my <a href="mailto:gregorywhite93@gmail.com?Subject=Power Index Inquiry" target="_top"> email</a> </h3>
      </div>
    </div>
    <div class="welcome-right-half"> 
      <h2 class="welcome-title">Methodology</h2>
      <div class="welcome-split-content">
        <h3 class="welcome-text"> 
          Below are links to more in depth explainations into the methodologies each category of power.
        </h3>
        <ul>
          <a href="#"><li class="welcome-text">Total Power</li></a>
          <a href="#"><li class="welcome-text">Military Power</li></a>
          <a href="#"><li class="welcome-text">Economic Power</li></a>
          <a href="#"><li class="welcome-text">Soft Power</li></a>
          <a href="#"><li class="welcome-text">Population Power</li></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="welcome-full-width"><a href="https://github.com/ggw215/IR_Simulator" target="_blank"> <h2 class= "page-title"> Contributions Welcome! </h2> </a></div>



</div>